{% extends "base.html" %}
{% block title %}Commit {{ commit_id }}{% endblock %}
{% block content %}
    <h1 class="mt-4">Commit {{ commit_id }}</h1>
    <p><a href="{{ git_url }}" class="btn btn-primary" target="_blank">View on Git Platform</a></p>
    <h2>Files</h2>
    <div class="accordion" id="commitFiles">
    {% for file in files %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ loop.index }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}">
                    {{ file.path }}
                </button>
            </h2>
            <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" data-bs-parent="#commitFiles">
                <div class="accordion-body">
                    <pre>{{ file.content }}</pre>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}